body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #fbfbfb;
  overflow: auto;
}
.wrapper {
  background-color: #ffffff;
  width: 500px;
  border: 1px solid #f1f1f1;
  padding: 20px;
  margin: 20px auto;
}
.todo-input {
  display: flex;
  justify-content: space-around;
  border: 1px solid #f1f1f1;
  padding: 20px;
}
input {
  width: 300px;
  height: 30px;
  border: 1px solid #e6e6e6;
}
button {
  border-radius: 3px;
  width: 100px;
  background-color: #00a3cf;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
.todo-list {
  display: flex;
  border: 1px solid #f1f1f1;
  padding: 20px;
  flex-direction: column;
  margin-top: 20px;
}
li {
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
}
.filter {
  display: flex;
  border: 1px solid #f1f1f1;
  margin-top: 20px;
}
.filter_list {
  display: flex;
  justify-content: center
}
p {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius:3px;
}

.filter_list p{
  width: 80px;
  border:1px solid #ccc;
  text-align: center;
  cursor: pointer;
}